.drawer--top .drawer-overlay {
  background-color: transparent; }

.drawer--top .drawer-nav {
  top: 0;
  height: 100vh;
  transition: top 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 0; }

.drawer--top .main {
  transition: margin-top 1750ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 100;
  position: relative;
  background: #fff;
  padding: 1.5em 2em 0;
  outline: 1px solid #000;
  min-height: 100vh;
  margin-top: -60px; }

.drawer--top.drawer-open .main {
  margin-top: 100vh; }
