/*
 * _forms.scss - 
 * Copyright 7/26/18, Dan Griffin at TG
 * www.wearetg.com
 */
/* Table of Content
==================================================
    # Style
    # Errors
    # Confirmations
*/
/* # Styles
================================================== */
.gform_body {
  margin: 0; }
  .gform_body input, .gform_body textarea {
    outline: none;
    border-style: solid;
    border-width: 1px;
    border-color: #b4b4b4;
    transition: border 100ms;
    background-color: #fff; }
    .gform_body input:focus, .gform_body textarea:focus {
      border-color: #efefef; }

/*# sourceMappingURL=_forms.css.map */