body,
html {
	position: relative;
    height: 100%;
    background-color: #fff; 
}

.container-xl {
    @extend .container;
}

@include media-breakpoint-up(xs) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    
}



@include media-breakpoint-up(sm) {

}



@include media-breakpoint-up(md) {

}



@include media-breakpoint-up(lg) {


}



@include media-breakpoint-up(xl) {

    .container {
        max-width: 1240px;
    }
    .container-xl{
        max-width: 1340px;
    }
    
}


