.blog-wrapper{
    padding-bottom: 3rem; 
}
.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem; 
    
    div{
        text-align: center;
    }

    a{
        @extend .button--pill;
        
        border-color: #FBBF00;
        color: #191919;
        margin: .5rem;
        min-width: 13.5rem;
        padding: 10px 30px;
        display: inline-block;

        &:hover, &:active, &:focus{
            text-decoration: none;
            border-color: transparent;
        } 
    }
}
@include media-breakpoint-up(md) {
    .blog-wrapper{
        padding-bottom: 5rem; 
    }
    .nav-links{
        flex-direction: row;
        padding-bottom: 5rem; 
    }
}