a.button{
    border: 3px solid $true-white;
    font-size: 16px;
    color: $color-black-95;
    padding: 12px 50px;
    margin-bottom: 2.15em;
    border-radius: 50px;
    max-width: 300px;
    width: 100%;
    font-family: $font-sans;
    font-weight: $weight-bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    display: inline-block;
    


    &:hover{
        background: $color-black-95;
        border: 3px solid $color-black-95;
        color: $color-secondary-40;
        text-decoration: none;
    }
}


.button--circle{

    @extend .btn;

    position: absolute;
    display: inline-block;
    background: transparent;
    border-color: $color-secondary-20;
    border-style: solid;
    border-radius: 50%;
    left: 50%;
    top: 70%;
    z-index: 10;
    transform-origin: 50% 50%;
    transition: all 350ms ease-in-out;
    
    text-align: center;
    font-family:  $font-sans;
    font-weight: bold;
    color: $true-white;
    padding: 0 0;

    @include fluid-prop( border-width, 18px, 30px );
    @include fluid-prop( font-size, 20px, 32px );
    @include fluid-prop( line-height, 140px, 225px );
    @include fluid-prop( width, 170px, 284px );
    @include fluid-prop( height, 170px, 284px );
    @include fluid-prop( margin-left, -85px, -142px );

    &:hover{
        background: $color-secondary-20 !important;
        text-decoration: none;
        transform: rotate(-12deg);
        color: $true-white;
    }
}


.button--pill{

    @extend .btn-lg;
    
    padding: 0 0;
    position: relative;
    margin-bottom: .65rem;
    padding: 10px 30px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 2rem;
    font-family:  $font-sans;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 350ms ease-in-out;

}


.btn{
    
    &__icon{
        position: relative;
        padding-left: 3.125rem;
        font-family: $font-sans;
        font-weight: bold;
        color: $color-primary;
        text-align: left;
        max-height: 3.25rem;
        line-height: 2.25rem;
        

        &::before{

            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            // transform: translateY(-50%);
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: rgba(246,14,64,0.1);
            transition: transform 350ms ease-in-out;
            background-repeat: no-repeat;
            background-position: center center;
        }

        &:hover{
            color: $color-primary;
        }
        
        
    }
    //icon button variants
    &__d_arrow{

        font-size: 18px;
        font-weight: 700;

        &::before{
            transform: translateY(-50%);
            background-image: url('../images/icons/arrow-down.png');
        }
        &:hover{
            &::before{
                transform: translateY(-40%);
            }
        }
    }
    &__r_arrow{
        font-size: 18px;
        font-weight: 700;
        transform: translateX(0);
        transition: transform 350ms ease-in-out;

        &::before{
            background-image: url('../images/icons/arrow-right.png');
            transform: translateY( -50%);
        }
        &:hover{
            transform: translateX(5%);
        }
    }
    &__l_arrow{
        font-size: 18px;
        font-weight: 700;
        transform: translateX(0);
        transition: transform 350ms ease-in-out;

        &::before{
            background-image: url('../images/icons/arrow-left.png');
            transform: translateY( -50%);
        }
        &:hover{
            transform: translateX(-5%);
        }
    }
    &__u_arrow{
        font-size: 18px;
        font-weight: 900;
        transform: translateX(0);
        transition: transform 350ms ease-in-out;

        &::before{
            background-image: url('../images/icons/arrow-up.png');
            transform: translateY( -50%);
        }
        &:hover{
            transform: translateX(5%);
        }
    }
}