.filter-select-industry{
    display: block;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 400;
    color: $color-secondary-40;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 18.75rem;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, transparent 0%,transparent 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;  
}

.case-study-filter{
    margin-left: -.5rem;
    margin-right: -.5rem;
    margin-bottom: 2rem;
}
.case-study-industry{
    width: 100%;
    
    .component--card-case-study{
        width: 100%;
        height: 425px;
        max-width: 100%;
        margin-bottom: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

@include media-breakpoint-up(md) {
    .case-study-industry{
        width: 50%;
        
        .component--card-case-study{
            height: 480px;
            max-height: 480px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .case-study-industry{
        width: 33%;
        margin-bottom: .5rem;
    }
}

@include media-breakpoint-up(xl) {
    .case-study-filter{
        margin-bottom: 4rem;
    }
    .case-study-industry{
        width: 25%;
    }
}