.component--cta-archive{
    position: relative;
    margin-top: 4em;
    padding-bottom: 12em;
    
    background: $color-secondary;
    

    .cta--content{
        padding-top: 5em;
        padding-bottom: 0;
        
    }
    .cta--heading{
        color: $true-white;
        letter-spacing: 1px;
        line-height: .95em;
        margin-bottom: .25em;
        
        @include fluid-prop( font-size, 60px, 100px );
    }
    .cta--subheading{
        color: $true-white;
        letter-spacing: 1px;
        
        @include fluid-prop( font-size, 22px, 36px );
    }

    .cta-media{
        position: relative;
        top: -4em;
        left: 2em; 
        width: 410px;
        height: 410px;
        
        img{
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .cta--button{
        position: absolute;
        display: inline-block;
        background: transparent;
        border-color: $color-secondary-20;
        border-style: solid;
        border-radius: 50%;
        left: 50%;
        top: 70%;
        z-index: 10;
        transform-origin: 50% 50%;
        transition: all 300ms ease-in-out;
        
        text-align: center;
        font-family:  $font-sans;
        font-weight: bold;
        color: $true-white;

        @include fluid-prop( border-width, 18px, 30px );
        @include fluid-prop( font-size, 20px, 32px );
        @include fluid-prop( line-height, 140px, 225px );
        @include fluid-prop( width, 170px, 284px );
        @include fluid-prop( height, 170px, 284px );
        @include fluid-prop( margin-left, -85px, -142px );

        &:hover{
            background: $color-secondary-20;
            text-decoration: none;
            transform: rotate(-12deg);
        }
    }

}