.component--card-ranking{
    height: 100%;
    padding-bottom: $grid-gutter-width;
    margin-left: -15px;
    margin-right: -15px;
}


.module--portfolio{
    .module{
        &--header{
            font-family: $font-sans;
            margin-bottom: 2rem;
            color: $color-black-60;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}



.portfolio-card{
    margin-bottom: 1rem;
    font-family: $font-sans;
    display: flex;
    flex-direction: column;
    height: 100%;
    // margin-left: -1rem;
    // margin-right: -1rem;

    .card{
        &-content{
            display: flex;
            flex-direction: column;
        }
        &-header{
            background: transparent;
            border-bottom: transparent;
            padding-left: 0;
            padding-right: 0;
        }
        &-footer{
            background: transparent;
            border-top: transparent;
            padding-right: 0;
            padding-left: 0;

        }
        &--ranking{
            font-size: 1.125rem;
            padding: 0 0 .5rem;

            .rank{
               font-size: 1.8rem; 
               font-weight: 700;
            }
        }
        &--keywords{
            color: $color-black-40;
            font-size: 1rem;
            font-weight: 400;
            width: 100%;
            padding: 1rem 1rem;
            margin-bottom: .5rem;
            border-radius: 2px;
            box-shadow: 0 1px 3px 0 #E0E0E0;
            background-color: #FFFFFF;
            position: relative;
            
            &::after{
                content: ' ';
                width: 1.5rem;
                height: 1.5rem;
                background-image: url(../images/icons/search-grey.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;

                left: 90%;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;

            }
        }
        &--client{
            display: block;
            font-size: 1.6rem;
            color: $color-black-40;
            font-weight: 700;
            

            sup{
                font-weight: 400;
            }
        }
        &--web-adress{
            display: block;
            color: $color-black-55;
            font-weight: 700;
        }
    }

    .button--pill {
        padding: .35rem 1.25rem;
        margin-left: 1rem;
        //max-width: 125px;
        color: $color-secondary-20;
        border-width: 3px;
        border-style: solid;
        border-color: $color-secondary-20;
        float: right;
    }





    // &.portfolio-color__5{
    //     .card{
    //         &--ranking{
    //             color: $color-primary-40;
    //         }
    //     }
    //     .button--pill {
    //         border-color: $color-primary-40;
    //         color: $color-primary-40;

    //         &:hover, &:active, &:focus{
    //             border-color: $color-primary-40;
    //             background-color: $color-primary-40;
    //             color: $color-white;
    //         }
    //     }
    // }
    
    // &.portfolio-color__4{
    //     .card{
    //         &--ranking{
    //             color: $color-tertiary;
    //         }
    //     }
    //     .button--pill {
    //         border-color: $color-tertiary;
    //         color: $color-tertiary;

    //         &:hover, &:active, &:focus{
    //             border-color: $color-tertiary;
    //             background-color: $color-tertiary;
    //             color: $color-white;
    //         }
    //     }
    // }
    
    // &.portfolio-color__3{
    //     .card{
    //         &--ranking{
    //             color: $color-tertiary;
    //         }
    //     }
    //     .button--pill {
    //         border-color: $color-tertiary;
    //         color: $color-tertiary;
            
    //         &:hover, &:active, &:focus{
    //             border-color: $color-tertiary;
    //             background-color: $color-tertiary;
    //             color: $color-white;
    //         }
    //     }
    // }
    
    // &.portfolio-color__2{
    //     .card{
    //         &--ranking{
    //             color: $color-tertiary-50;
    //         }
    //     }
    //     .button--pill {
    //         border-color:  $color-tertiary-50;
    //         color:  $color-tertiary-50;

    //         &:hover, &:active, &:focus{
    //             border-color: $color-tertiary-50;
    //             background-color: $color-tertiary-50;
    //             color: $color-white;
    //         }
    //     }
    // }
    
    // &.portfolio-color__1{
    //     .card{
    //         &--ranking{
    //             color: $color-secondary-20;
    //         }
    //     }
    //     .button--pill {
    //         border-color:  $color-secondary-20;
    //         color:  $color-secondary-20;

    //         &:hover, &:active, &:focus{
    //             border-color: $color-secondary-20;
    //             background-color: $color-secondary-20;
    //             color: $color-white;
    //         }
    //     }
    // }
}

.ranking--card-wrapper{
    
    &:nth-child( 4n+1 ){
        .portfolio-card{
            .card{
                &--ranking{
                    color: $color-primary-40;
                }
            }
            .button--pill {
                border-color: $color-primary-40;
                color: $color-primary-40;

                &:hover, &:active, &:focus{
                    border-color: $color-primary-40;
                    background-color: $color-primary-40;
                    color: $color-white;
                }
            }
        }
    }
    
    &:nth-child( 4n+2 ){
        .portfolio-card{
            .card{
                &--ranking{
                    color: $color-tertiary;
                }
            }
            .button--pill {
                border-color: $color-tertiary;
                color: $color-tertiary;

                &:hover, &:active, &:focus{
                    border-color: $color-tertiary;
                    background-color: $color-tertiary;
                    color: $color-white;
                }
            }
        }
    }
    &:nth-child( 4n+3 ){
        .portfolio-card{
            .card{
                &--ranking{
                    color: $color-tertiary-50;
                }
            }
            .button--pill {
                border-color: $color-tertiary-50;
                color: $color-tertiary-50;

                &:hover, &:active, &:focus{
                    border-color: $color-tertiary-50;
                    background-color: $color-tertiary-50;
                    color: $color-white;
                }
            }
        }
    }
    &:nth-child( 4n+4 ){
        .portfolio-card{
            .card{
                &--ranking{
                    color: $color-secondary-20;
                }
            }
            .button--pill {
                border-color: $color-secondary-20;
                color: $color-secondary-20;

                &:hover, &:active, &:focus{
                    border-color: $color-secondary-20;
                    background-color: $color-secondary-20;
                    color: $color-white;
                }
            }
        }
    }

}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {
    .component--card-ranking{
        margin-left: 0;
        margin-right: 0;
    }
    .portfolio-card{
        margin-left: 0;
        margin-right: 0;

        .card{
             &--client{
                display: block;
                font-size: 1.5rem;
            }
        }
    }
}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {
    .module--portfolio{
        .module{
            &--header{
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    .portfolio-card{
        .card{
            &--keywords{
                font-size: 1.1rem;
            }
        }
    }
}

