
.cards__post,
.cards__case-study{
    display: flex;
    flex: row;
    flex-wrap: wrap;
    max-width: 1340px;
    margin-right: auto;
    margin-left: auto;
    align-items: stretch;
    padding-bottom: 5rem;
    justify-content: space-between;
}

.component--card{
    
    position: relative;
    //width: 100%;

    height: 100%;
    min-height: 1px;
    // padding-right: .5rem;
    // padding-left: .5rem;
    
    &-case-study,
    &-blog{

        article,
        article a{
            display: flex;
            flex-direction: column;
            height: 100%;
            border-radius: .3125rem;

            font-family: $font-sans;
            text-decoration: none;

            figure{
                order: 1;
                
                img{
                    transform: scale(1);
                    transition: 2000ms transform ;
                    min-height: 100%;
                }
                
            }
            header{
                order: 2;
                background: transparent;
                color: $color-black-40;
                font-family: $font-sans;
                font-weight: 700;
                margin-bottom: 1.4rem;
                padding: 0.75rem 1.25rem 0;
                border-bottom: 1px solid transparent;
                transition: all 350ms ease-in-out;

                .card--title{
                    font-size: 1.875rem;
                    padding-bottom: 1.5625rem;
                    

                    sup{
                        font-weight: 400;
                    }
                }
            }
            .card-content{
                order: 3;
                padding-right: 1rem;
                padding-left: 1rem;
                color: $color-black-70;
                flex-grow: 1;
                
                p{
                    font-size: 1rem;
                }
            }
            footer{
                order: 4;
                padding-right: 1rem;
                padding-left: 1rem;
                background: transparent;
                padding-top: 0;
                padding-bottom: 2rem;
                color: $color-black-40;
                text-transform: uppercase;
                font-weight: 700;
                font-size: .75rem;
                
            }

            &:hover{
                figure{
                    img{
                        transform: scale(1.15, 1.15);
                    }
                    
                }
            }
        }
    }
    
    &-case-study{
        //width: 25%;
        width: 100%;
        max-width: 18.5rem;
        max-height: 29rem;
        //margin-bottom: 2rem;
        @extend .component--card;

        
        margin-bottom: 2rem;
        
        article{
           overflow: hidden; 
           justify-content: center;

           figure{
                align-self: center;
                overflow: hidden;
                width: 100%;
                height: auto; 
                max-height: 12.835rem;

                img{
                    width: 100%;
                }
            }
            header{
                margin-bottom: 0;
                padding: 0 1rem 0;

                .card--title{
                    padding-bottom: 0;
                }
            }
            .card-content{
                margin-bottom: 1rem;
                flex-grow: 1;
                display: flex;
            }
            footer{
                padding-bottom: 1rem;
                order: 4;
                
                .btn.btn__icon.btn__r_arrow{
                    transition: all 350ms ease-in-out;
                    color: $color-black-40;
                    font-size: 1rem;
                }
            }
        }

        &:hover{
            footer{
                .btn{
                    color: $color-secondary-40;
                    transform: translateX(5%);
                }
            }
        }
    }

    &-blog{
        //width: 33%;
        width: 100%;
        @extend .component--card;

        article{
            padding-top: 4.5rem;
            
            figure{
                align-self: center;
                width: 14.375rem;
                height: 14.375rem;
                overflow: hidden;
                transform: translateY(-25%);
                margin-bottom: -2.25rem;
            }
        }

        &:hover{
            header{
                color: $color-secondary-40;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .component--card{
        &-case-study{
            //width: 50%;
        }
        &-blog{
           // width: 50%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .component--card{
        &-case-study{
            //width: 33%;
        }
        
    }
}

@include media-breakpoint-up(xl) {
    .component--card{
        &-case-study{
            //width: 25%;
        }
        &-blog{
            //width: 32%;
        }
    }
}
