.drawer--top {
    .drawer-overlay {
        background-color: transparent;
        height: 0;
        width: 0;
    }
    .drawer-navbar-header {
        z-index: 9000;
        background: transparent;
        padding: 1.5em 1.75rem 1.5em;
        height: auto;
        border-bottom: 1px solid transparent;
        position: fixed;
        top: 0;
        left: 0;
        .branding {
            display: block;
            width: 105px;
            margin-left: -.25em;
            .logo {
                width: 100%;
                fill: $color-white;
                transition: fill 300ms ease-in-out;
            }
        }
    }
    .drawer-hamburger {
        margin-top: 1.25rem;
        padding: .5rem;
        padding-right: 1rem;
        width: 2rem;
        height: 2rem;
        transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
        .drawer-hamburger-icon,
        .drawer-hamburger-icon:before,
        .drawer-hamburger-icon:after {
            background-color: $color-black-95;
        }
    }
    .drawer-nav {
        top: 0;
        height: 100vh;
        padding-top: 9em;
        transition: transform 2000ms cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 500;
        background: $color-black;
        transform: translateY(-100%);
    }
    .main {
        //transition: transform 1600ms cubic-bezier(0.25, 0.1, 0.25, 1);
        //transition: transform 2000ms cubic-bezier(0.77, 0, 0.175, 1);
        z-index: 100;
        position: relative;
        background: $true-white;
        padding: 0 0;
        min-height: 100vh;
        //transform: translateY(0);
        .drawer-navbar-header {
            margin-bottom: 3em;
            position: absolute;
            z-index: 500;
            transform: translateY(0);
            .branding {
                width: 90px;
                .logo {
                    fill: $color-white;
                }
            }
            button.drawer-toggle.drawer-hamburger {
                right: 1rem;
            }
        }
    }
    .pos-fixed {
        .drawer-navbar-header {
            position: fixed;
            width: 100%;
            padding: 1em 1.75rem 1em;
            left: 0;
            background: $color-black;
            transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
            .branding {
                transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
                width: 80px;
            }
            button.drawer-toggle.drawer-hamburger {
                transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
                margin-top: .6rem;
            }
        }
    }
    &.drawer-open {
        .main {
            //transform: translateY(115%);
        }
        .drawer-hamburger {
            .drawer-hamburger-icon {
                background-color: transparent;
            }
        }
        .drawer-navbar-header {
            .branding {
                .logo {
                    fill: $color-primary;
                }
            }
        }
        .drawer-nav {
            transform: translateY(0%);
        }
    }
    .drawer-menu {
        text-align: center;
        margin-bottom: 2.75em;
        a {
            color: $color-black-95;
            font-family: $font-sans;
            font-weight: $weight-x-bold;
            font-size: 28px;
            line-height: 2em;
            width: 100%;
            display: block;
            text-decoration: none;
        }
        .sub-menu {
            display: none;
        }
    }
}

@include media-breakpoint-up(md) {
    .drawer--top {
        .main {
            margin-top: -7.65rem;
            .drawer-navbar-header {
                button.drawer-toggle.drawer-hamburger {
                    right: 2.25rem;
                }
            }
        }
        .drawer-navbar-header {
            .branding {
                width: 120px;
                .logo {
                    fill: $color-white;
                }
            }
        }
        .drawer-nav {
            padding-top: 12em;
        }
        &.drawer-open {
            .drawer-navbar-header {
                .branding {
                    width: 120px;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .drawer--top {
        .drawer-navbar-header {
            padding: 2.25em 0 2.5em;
            position: relative;
            .branding {
                width: 120px;
                .logo {
                    fill: $true-white;
                }
            }
        }
        .drawer-nav {
            top: 0;
            height: auto;
            z-index: 100;
            padding-top: 0;
            display: flex;
            flex-direction: column-reverse;
            background: transparent;
            transform: translateY(0);
        }
        .drawer-navbar {
            position: fixed;
            background: transparent;
            transition: background 300ms ease-in-out;
            &.pos-fixed {
                background: $color-black;
                .drawer-navbar-header {
                    padding: 2.25em 0 2.5em;
                    background: transparent;
                    position: relative;
                    width: auto;
                    .branding {
                        width: 120px;
                    }
                }
            }
        }
        .drawer-menu {
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 0;
            a {
                color: $true-white;
                font-family: $font-sans;
                font-weight: $weight-x-bold;
                font-size: 18px;
                line-height: 2em;
                padding: 10px 12px;
                color: $color-black-95;
            }
        }
        .contact--nav {
            text-align: right;
            a {
                color: $true-black;
            }
        }
        .main {
            margin-top: 0;
            .drawer-navbar-header {
                display: none;
            }
        }
    }
}