footer.footer{
    position: relative;
    z-index: 1;
    background: $color-black;
    padding-top: 53px;
    padding-bottom: 26px; 
    color: $true-white;

    font-family: $font-sans;
    text-align: center;
    color: $true-white;

    .branding{
        display: block;
        width: 85px;
        margin-bottom: 2.05em;
            
        .logo{
            width: 100%;
            fill: $color-black-60;
            transition: fill 300ms ease-in-out;
        }
    }

    .menu-footer-menu-container{
        margin-bottom: 29px;

        .menu{
            text-align: center;
            list-style: none;
            padding: 0;
            margin: 0;
                
            a{
                color: #f9f9f9;
                font-family: Lato, Helvetica Neue, Helvetica, Arial, sans serif;
                font-weight: 900;
                font-size: 26px;
                line-height: 2em;
                width: 100%;
                display: block;
                text-decoration: none;
            }
        }
    }

    a.contact_email, 
    a.contact_phone{
        display: block;
        color: $true-white;
        display: block;
        color: #fff;
        font-size: 26px;
        font-weight: $weight-x-bold;

        &:hover{
            text-decoration: none;
        }
    }
    
    .address{
        display: block;
        padding: 36px 0;
        font-weight: $weight-x-bold;
        
        a{
            color: $true-white;

            &:hover{
                text-decoration: none;
            }
        }
    }

    .credits{
        color: $color-black-60;
        display: flex;
        flex-direction: column;
        line-height: 2rem;
        white-space: nowrap;

        .bar{
            display: none;
        }
        
        a{
            color: $color-black-60;
            text-decoration: none;
        }
    }
}

@include media-breakpoint-up(md) {
    footer.footer{
        
        text-align: left;
        padding-top: 5vw;
        padding-bottom: 5vw; 
        
        .branding{
            width: 100px;
            margin-bottom: 3em;
        }
        
        .address{
            text-align: right;
            display: block;
            padding: 3rem 0 0 0;
            font-weight: 900;
            font-size: 14px;

            address{
                margin-bottom: 0;
            }
        }
        a.contact_phone{
            text-align: right;
            padding-top: .5em;
        }
        a.contact_email{
            text-align: right;
            color: $color-black-60;
        }
        .credits{
            text-align: right;
            font-size: .875rem;
            flex-direction: row;
            
            .bar{
                display: block;
                padding: 0 .25rem;
            }
        }
        .menu-footer-menu-container{
            margin-bottom: 0;

            .menu{
                display: flex;
                    
                a{
                    font-size:16px;
                    padding: 0 1em 0 0;
                    line-height: 1em;
                }
            }
        }
    }
}


@include media-breakpoint-up(lg) {
    footer.footer{
        
        .branding{
            width: 115px;
        }
        
        .address{
            padding-top: 2rem;
            font-size: 16px;
        }
        a.contact_phone,
        a.contact_email{
            font-size: 2rem;
            line-height: 2rem;
        }
        .credits{
            padding-top: 1em;
            font-size: 16px;
        }

    }
}
@include media-breakpoint-up(xl) {
    footer.footer{
        
        .branding{
            width: 115px;
        }
        
        .address{
            padding-top: 2rem;
            font-size: 18px;
        }
        a.contact_phone,
        a.contact_email{
            font-size: 2.25rem;
            line-height: 3.3rem;
            padding-top: 0;
        }
        .credits{
            font-size: 16px;
        }
        .menu-footer-menu-container{

            .menu{
                
                a{
                    font-size:18px;
                }
            }
        }
    }
}