.gform_fields{
    @include make-row();
    list-style: none;
    padding: 0;
    margin: 0;

    .gfield{
        margin-bottom: $grid-gutter-width;
        
        &.gfield_name{
            width: 100%;
            margin-bottom: 0;

            .ginput_container{
                @include make-row();
                margin-right: 0;
                margin-left: 0;
                justify-content: space-between;
                

                .name_first, 
                .name_last{
                    margin-bottom: 1.875rem;

                    @include make-col( 12 );
                    position: relative;
                    padding-left: ( $grid-gutter-width / 2 );
                    padding-right: ( $grid-gutter-width / 2 );

                    @include media-breakpoint-up( sm ) {
                        @include make-col( 6 );
                    }                
                

                }
            }
        }
        //Hides the main labels on complex forms elements, specifically the name complex field.
        .gfield_label_before_complex{
            visibility: hidden;
        }

        label{
            position: absolute;
            top: 2rem;
            left: 2.25rem;

            font-family: $font-sans;
            font-weight: 700;
            font-style: normal;
            font-size: 1rem;
            text-transform: uppercase;
            color: $color-black-40;
            transition: top 350ms ease-in-out;
            margin-bottom: 0;

            &.active{
                top: .5rem;
            }
        }

        &.gfield_radio,
        &.gfield_checkbox,
        &.gfield_textarea,
        &.gfield_select{
            
            label{
                font-size: 1rem;
                padding-left: 1.25rem;
                margin-bottom: 1rem;
                position: static;
            }

            ul{
                padding: 0;
                padding-left: .375rem;
                list-style: none;

                li{
                   height: 3rem;
                }
            }

            input[type="checkbox"],
            input[type="radio"] {
                @extend .sr-only;

                appearance: none;    
                height: 1.35rem;
                
                + label {
                    padding-left: 0;
                    line-height: 3rem;
                    margin-bottom: 0;
                    width: 100%;
                    max-width: 24rem;
    
                    &::before {
                        position: relative;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 1.35rem;
                        height: 1.35rem;
                        margin: .75rem;
                        border: solid 2px $color-secondary-20;
                        content: " ";
                        display: inline-block;
                        transition: all 350ms ease-in-out;
                        vertical-align: middle;
                    }
                }
                &:checked {
                    +label {
                        &::before {
                            background-color: $color-secondary-20;
                        }
                    }
                }
            }
            input[type="checkbox"] {
                &:checked {
                    +label {
                        &::before {
                            background: url(http://2019-stl-seo-co.localhost/wp-content/uploads/2019/05/check-white.png);
                            background-color: #4286F5;
                            width: 1.35rem;
                            height: 1.35rem;
                            content: " ";
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            
                        }
                    }
                }
            }
            input[type="radio"] {
                +label::before {
                    border-radius: 50%;
                }
            }
        }

        &.gfield_textarea{
            .ginput_container_textarea{
                textarea{
                    max-height: 12.5rem;
                }
                .ginput_counter{
                    font-size: .9em;
                    color: $color-black-40;
                    font-style: italic;
                    padding-left: 1.25rem;
                }
            }
        }

        &.gfield_select{
            .ginput_container_select {
                width: 100%;
                border: 2px solid #ECECEC;
                border-radius: 3px;
                font-size: 1rem;
                padding: 0;
                line-height: 4rem;
                    
                select{
                    width: 100%;
                    border: 2px solid transparent;
                    border-radius: 3px;
                    background-color: transparent;
                    font-size: 1rem;
                    height: 4rem;
                }
            }
        }
    }
    .gfield_required {
        color: red;
        padding-left: .125rem;
    }

    input[type="text"],
    [type="email"],
    [type="tel"],
    [type="url"],
    textarea {
        width: 100%;	
        border: 2px solid #ECECEC;	
        border-radius: 3px;
        font-size: 1.375rem;
        padding: 1.25rem;
        line-height: 2.75rem;
        font-family: $font-sans;
        &.filled{
            border: 2px solid $color-tertiary-40;
        }
        &:focus {
            //border: 2px solid $color-secondary-20;
            outline: none !important;
            border: 2px solid $color-secondary-40;
        }

    }
}
.gform_footer{
    margin-bottom: 5rem;
}
.labels-sr-only {
	.gfield_label {
		@extend .sr-only;
	}
}

.gfield_error .gfield_label{
    color: red;
}
.validation_message,
.validation_message {	
    color: red;
    margin-top: .5rem;
    padding-left: 1.25rem;
}
.validation_error {	
	padding: ( $grid-gutter-width / 2 );
}

.gform_button{
    
    @extend .btn-lg;
    
    padding: 0 0;
    position: relative;
    margin-bottom: .65rem;
    padding: 10px 30px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-radius: 2rem;
    font-family:  $font-sans;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 350ms ease-in-out;
    box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.1);
    border-color: $color-secondary-20;
    color: $color-secondary-20;
    margin-left: 1.25rem;

    &:hover, &:active, &:focus{
        border-color: $color-secondary-20;
        background-color: $color-secondary-20;
        color: $color-white;
    }
}




@include media-breakpoint-up(xs) {

}



@include media-breakpoint-up(sm) {

}



@include media-breakpoint-up(md) {

}



@include media-breakpoint-up(lg) {
    .gform_fields{
        .gfield{
            &.gfield_name{
                .ginput_container{
                    .name_first, 
                    .name_last{
                        margin-bottom: 1.75rem;
                    }
                }
            }
            
            label{
                font-size: .80rem;

                &.active{
                    top: .5rem;
                }
            }

            &.gfield_radio,
            &.gfield_checkbox,
            &.gfield_textarea,
            &.gfield_select{
                
                ul{
                    li{
                        height: 2rem;
                    }
                }

                input[type="checkbox"],
                input[type="radio"] {
                    appearance: none;    
                    height: 1.35rem;
                    
                    + label {
                        line-height: 2rem;
                        font-size: .8rem;
                        &::before {
                            width: 1.05rem;
                            height: 1.05rem;
                        }
                    }
                    &:checked {
                        +label {
                            &::before {
                                background-color: $color-secondary-20;
                            }
                        }
                    }
                }
                input[type="checkbox"] {
                    &:checked {
                        +label {
                            &::before {
                                width: 1.05rem;
                                height: 1.05rem;
                            }
                        }
                    }
                }
            }
        }

        input[type="text"],
        [type="email"],
        [type="tel"],
        [type="url"],
        textarea {
            font-size: 1rem;
            padding: 1rem;
        }
    }
}



@include media-breakpoint-up(xl) {
    .gform_fields{
        .gfield{
            &.gfield_name{
                .ginput_container{
                    .name_first, 
                    .name_last{
                        margin-bottom: 1.75rem;
                    }
                }
            }
            
            label{
                font-size: 1rem;

                &.active{
                    top: .5rem;
                }
            }

            &.gfield_radio,
            &.gfield_checkbox,
            &.gfield_textarea,
            &.gfield_select{
                
                ul{
                    li{
                        height: 2rem;
                    }
                }

                input[type="checkbox"],
                input[type="radio"] {
                    appearance: none;    
                    height: 1.35rem;
                    
                    + label {
                        line-height: 2rem;
                        font-size: 1rem;
                        &::before {
                            width: 1.35rem;
                            height: 1.35rem;
                        }
                    }
                    &:checked {
                        +label {
                            &::before {
                                background-color: $color-secondary-20;
                            }
                        }
                    }
                }
                input[type="checkbox"] {
                    &:checked {
                        +label {
                            &::before {
                                width: 1.35rem;
                                height: 1.35rem;
                            }
                        }
                    }
                }
            }
        }

        input[type="text"],
        [type="email"],
        [type="tel"],
        [type="url"],
        textarea {
            font-size: 1.375rem;
            padding: 1.25rem;
        }
    }
}
