.contact--nav{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .button{
        margin-bottom: 2.5em;
        color: $color-black-95;

        &:hover{
            background: $color-black-95;
            border: 3px solid $color-black-95;
            color: $color-secondary-40;
            text-decoration: none;
        }
    }
    .contact_phone,
    .contact_email,
    .contact_address{
        color: $color-black-95;
        font-family: $font-sans;
        font-weight: $weight-x-bold;
        font-size: 30px;

        &:hover{
            text-decoration: none;
        }
    }
    .address{
        margin-top: 2em;
    }
    .company_name,
    .contact_address{
        color: $color-black-95;
        font-family: $font-sans;
        font-weight: $weight-x-bold;
        font-size: 18px;
        margin-top: 2em;
    }


}





@include media-breakpoint-up(lg) {
    
    .contact--nav{
        text-align: center;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 1em;

        a{
            text-decoration: none;
            color: $color-black-95;
            
            &:hover{
                //missing hover state look
                text-decoration: none;
            }
        }
        a.button{
            width: auto;
            color: $color-black-95;
            font-size: 14px;
            padding: 4px 21px;
            margin: 0 0 0 14px;


        }
        .address{
            margin-top: 0;
        }
        a.contact_phone{
            color: $color-black-95;
            font-size: 32px;
        }
        a.contact_email{
            display: none;
        }
        a.contact_address{
            display: none;
        }
        .company_name{
            display: none;
        }
    }

}