.module--content-section{
    
    p{
        font-size: 1.125rem;
    }
    .fullwidth,
    .constrained,
    .container-xl{
        width: 95%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding: 0;
        padding: 1.125rem 1rem;
    }
    .constrained,
    .container-xl{
        max-width: 1340px;
    }

    
    .module{
        &--header{
            margin-bottom: 0;
        }
        &--heading{
            line-height: 1.6em;
                margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
    .module--content-section{
        .columns__two{
            columns: 2;
            column-gap: $grid-gutter-width;
        }
        .columns__three{
            columns: 3;
            column-gap: $grid-gutter-width;
        }
    }
}

@include media-breakpoint-up(xl) {
    
}