.module--image-banner{
    
    .fullwidth,
    .container-xl{
        overflow: hidden;
        padding: 0;
    }

    .module{
        
        &--introduction{
            @extend .col-lg-6;
            padding-left: 0;
            margin-bottom: 3.5rem;

            .introduction--snippet{
                font-family: $font-sans;
                font-weight: $weight-bold;
                @include fluid-prop( font-size, 28px, 48px );
                @include fluid-prop( line-height, 30px, 50px );
            }
        }   

        &--content{
            padding: 2rem 1rem;

            p{
                font-size: 1rem;
                line-height: 1.875rem
            }
        }
        
        &--banner{
            position: relative;

            .banner--image{
                overflow: hidden;
                margin-bottom: 0;
            }
            
            img{
                width: 100%;
                height: auto;
            }
            
            .banner--magnifier{
                position: absolute;
                width: 15rem;
                height: 15rem;
                background: #ffffff;
                border-radius: 50%;
                box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.1);
            
                &:first-child{
                    top: -15%;
                    left: 25%;
                }
                &:nth-child(2){
                    top: 60%;
                    left: 65%;
                }
            }
        }
    }
    .module{
        &--content{
            padding: 4rem 3.75rem;
            border-bottom-left-radius: .75rem;
            border-bottom-right-radius: .75rem;
        }
    }
    .banner{
        
        &--image{
            max-height: 450px;
            overflow: hidden;
            border-top-left-radius: .75rem;
            border-top-right-radius: .75rem;
        }
    }

    
}

@include media-breakpoint-up(md) {
    .module--image-banner{
        .fullwidth,
        .container-xl{
            width: 95%;
            overflow: visible;
            
        }
        // .module{
        //     &--content{
        //         padding: 4rem 3.75rem;
        //         border-bottom-left-radius: .75rem;
        //         border-bottom-right-radius: .75rem;
        //     }
        // }
        // .banner{
            
        //     &--image{
        //         max-height: 450px;
        //         overflow: hidden;
        //         border-top-left-radius: .75rem;
        //         border-top-right-radius: .75rem;
        //     }
        // }
    }
}