.module--portfolio{
    .fullwidth{
        padding: 0;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .constrained{
        padding: 0;
        padding-right: 15px;
        padding-left: 15px;
        width: 95%;
        max-width: 1340px;
    }
    .module{
        
        &--content{
            padding: 0 1rem;
            border-radius: .75rem;
        }
        
        &--footer{
            padding: 0;
                background: transparent;
        }
        
        &--cta{
            padding: 5.375rem 1rem;

            .button--pill{
                border-color: $color-tertiary; 
                color: $color-black; 
                margin: 1rem;
                margin-left: 0; 
                min-width: 13.5rem;

                &:hover, &:active{
                    border-color: transparent;
                    background: $color-tertiary;
                }
            }
        }

        &--heading_cta{
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 1.2;
            text-align: left;
            max-width: 39rem;
            color: $color-black;
        }
        &--subheading_cta{
            font-size: 1.8rem;
            line-height: 1.2;
            text-align: left;
            max-width: 39rem;
        }
    }
    .portfolio-card{
        border: 1px solid $color-black-50;
        transition: all 350ms ease-in-out; 
        border-radius: .375rem; 
        padding: 1.7rem;

        &:hover{
            border: 1px solid transparent; 
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        }

        .card-content{
            order: 2;
        }
        .card-header{
            order: 1;
        }
        .card-footer{
            order: 3;

            .card--web-adress{
                display: none;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    
    .module--ranking-highlight{
        
        .module{
            
            &--cta{
                padding: 5.375rem 1rem;
            }
            &--heading_cta{
                font-size: 3.8rem;
            }
            &--subheading_cta{
                font-size: 2.4rem;
            }
        }
    }
}
