.module--hero-blog-single,
.module--hero {
    

    .fullwidth,
    .container-xl{
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero{
        
        &__wrapper {
            background-size: cover;
            background-repeat: no-repeat;
            background-color: $color-primary;
            color: $true-white;
            height: 20rem;

            display: flex;
            flex-direction: row;
            align-items: flex-end;
            
            .container-xl{
                padding-bottom: 1rem;
            }
        }
        &__heading{
            @include fluid-prop( font-size, 52px, 140px );
            line-height: .9;

            sup{
                font-weight: 400;
            }
        }
        &__subheading{
            display: block;
            max-width: 380px;

            p{
                @include fluid-prop( font-size, 16px, 18px );
                font-family: $font-sans;
            }
        }
    }

    .button--circle{
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translateX(-130%);
        margin-left: 0;
        white-space: pre-wrap;
        line-height: 1.25em;
        vertical-align: middle;
        
        border-style: solid;
        border-color: $color-primary-20;
        background-color: $color-primary;

        @include fluid-prop( font-size, 16px, 20px );
        @include fluid-prop( width, 134px, 224px );
        @include fluid-prop( height, 134px, 224px );
        @include fluid-prop( border-width, 15px, 30px );
        @include fluid-prop( padding-top, 32px, 60px );

    
        
        
        &::after {
            content: '';
            position: absolute;
            box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.25);
            top: 70%;
            left: 70%;
            @include fluid-prop( width, 54px, 90px );
            @include fluid-prop( height, 54px, 90px );
            background-color: $color-primary-20;
            background-image: url(../images/icons/arrow-right-white.png);
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50%;
            transition: left 350ms ease-in-out,
        }
        &:hover,
        &:active{
            background: $color-primary !important;
            text-decoration: none;
            color: $true-white;
            
            &::after {
                left: 80%;
            }   
        }
    }
}
.module--hero-blog-single{
    .hero{
        &__heading{
            @include fluid-prop( font-size, 27px, 50px );
            line-height: 1.2;
            width: 100%;
        }
    }
    .entry-date.published, .author.vcard, .post--meta{
        font-family: $font-sans;
        font-weight:  700;
        margin-bottom: 1rem;
        display: inline-block;
    }
}
.home{
    .module--hero {
        .hero{
            &__wrapper {
                padding-top: 8rem;
                padding-bottom: 0;
                height: auto;

                .container-xl{
                    margin-bottom: 7rem;
                }
            }
            &__heading{
                
                @include fluid-prop( font-size, 26px, 66px );
                line-height: 1.2;
                padding: 20px;
            }
        }
    }
}
.page-template-page-contact{
    .module--hero {
        z-index: 0;
        
    }
}

//Hero decorative elements

.module--hero {
    margin-bottom: 2rem;
    z-index: 100;
    position: relative;

    .hero__wrapper .container,
    .hero__wrapper .constrained{
        position: relative;

        &::after{
            content: '';
            position: absolute;
            top: 125%;
            left: 100%;
            transform: translate(-115%, -70%);
            margin-left: 0;
            white-space: pre-wrap;
            line-height: 1.25em;
            vertical-align: middle;
            
            border-style: solid;
            border-color: $color-primary;
            background-color: transparent;
            border-radius: 50%;
            box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.25);

            @include fluid-prop( width, 134px, 224px );
            @include fluid-prop( height, 134px, 230px );
            @include fluid-prop( border-width, 15px, 30px );

            @include media-breakpoint-down (md)  {
                display: none;
                
            }

        }
    }
}
.home,
.blog,
.page-id-15,
.page-id-74,
.page-id-76,
.page-id-69,
.page-id-219,
.single-case-study,
.post-type-archive-case-study{
    .module--hero {
        .hero__wrapper .container,
        .hero__wrapper .constrained{
            &::after{
                content: ' ';
                display: none;
            }    
        }
    }
}
.post-type-archive-case-study{
    .module--hero {
        .hero__wrapper .container,
        .hero__wrapper .constrained{
            &::after{
                border-color: $color-white;
            }    
        }
    }
}

@include media-breakpoint-up(md) {
    .module--hero {
        .hero{
            &__wrapper {
                height: 36rem;
            }
        }
        .button--circle{
            top: 100%;
        }
    }
    .home{
        .module--hero {
            .hero{
                &__wrapper {
                    padding-top: 18rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .module--hero {
        margin-bottom: 5rem;
        .hero{
            &__wrapper {
                height: 33rem;
            }
            &__heading{
                font-size: 6rem;
            }
        }
    }
    .home{   
        .module--hero {
            .hero{
                &__wrapper {
                    padding-top: 11rem;
                }
                &__heading{
                    font-size: 3.125rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .module--hero {
        .hero{
            &__wrapper {
                height: 42rem;
            }
            &__heading{
                font-size: 8.5rem;
            }
        }
        .button--circle{
            top: 100%;
        }
    }
    .module--hero-blog-single{
        .hero{
            &__heading{
                width: 70%;
            }
        }
    }
    .home{    
        .module--hero {
            .hero{
                &__wrapper {
                    padding-top: 22rem;
                }
                &__heading{
                    font-size: 4.125rem;
                    line-height: 1;
                }
            }
        }
    }
}
@media (min-width: 1400px) {
    .module--hero {
        .hero{
            &__wrapper {
                height: 47rem;

                .container-xl{
                    margin-bottom: 4rem;
                }
            }
        }
    }
}
@media (min-width: 1600px) {
    .module--hero {
        .hero{
            &__wrapper {
                height: 52rem;
            }
        }
    }
}