.module--ranking-highlight{
    background: $color-black;
    
    .fullwidth{
        padding: 0;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .constrained{
        padding: 0;
        padding-right: 15px;
        padding-left: 15px;
        width: 95%;
        max-width: 1340px;
    }
    .module{
        &--header{

            position: relative;
            color: #ffffff;
            font-family: $font-sans;
            @include fluid-prop( padding-top, 58px, 80px );
            padding-bottom: 1rem;

            &::before{
                display: none;
            }
            &::after{
                display: none;
            }

            h2.module--heading{
                @include fluid-prop( font-size, 60px, 90px );
                line-height: 1;
                margin-top: 1rem;
                margin-bottom: 0;
            }
            .module--subheading{
                @include fluid-prop( font-size, 18px, 28px );
                font-weight: 700;
                margin-bottom: 5rem;

                span{
                    font-family: $font-serif;
                    font-weight: 100;
                    color: $color-secondary;
                }
            }
            .module--tagline{
                color: $color-black-60;
            }
            .u-animate__border-top:before {
                border-top: 2px solid $color-white;
            }
        }
        
        &--content{
            padding: 2rem 1rem;
            margin-left: -.25rem;
            margin-right: -.25rem;
            border-radius: .75rem;
            background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);
        }
        
        &--footer{
            padding: 0;
        }
        
        &--cta{
            padding: 5.375rem 1rem;

            .u-media-circle{
                display: none;
            }

            .button--pill{
                border-color: $color-tertiary; 
                color: $color-tertiary; 
                margin: 1rem;
                margin-left: 0; 
                min-width: 13.5rem;

                &:hover, &:active{
                    background: $color-tertiary;
                    color: $color-black; 
                }
            }

        }

        &--heading_cta{
            font-family: $font-sans;
            color: $color-white;
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 1.2;
            text-align: left;
            max-width: 39rem;
        }
        &--subheading_cta{
            font-size: 1.8rem;
            line-height: 1.2;
            text-align: left;
            max-width: 39rem;
        }
    }
    .portfolio-card{
        margin-bottom: 0;

        .card-content{
            order: 1;
        }
        .card-header{
            order: 1;
            //display: none;
        }
        .card-footer{
            order: 3;
        }
    }
}

@include media-breakpoint-up(md) {
    
    .module--ranking-highlight{
        
        .module{
            &--content{
                margin-left: -1rem;
                margin-right: -1rem;
            }
            &--cta{
                padding: 5.375rem 1rem;

                .u-media-circle{
                    
                    overflow: hidden;
                    border-radius: 50%;
                    width: 14rem;
                    height: 14rem;
                    position: absolute;

                    &:first-of-type{
                        display: none;
                    }
                    &:last-child{
                        display: block;
                        bottom: -5rem;
                        left: 65%;
                        transition: transform 1800ms ease-in-out, opacity 1800ms ease-in-out;
                    }
                }
            }
            &--heading_cta{
                font-size: 3.8rem;
            }
            &--subheading_cta{
                font-size: 2.4rem;
            }
        }
    }
}



@include media-breakpoint-up(lg) {
    .module--ranking-highlight{
        
        .module{
            &--content{
                padding: 4rem 1rem;
            }
            &--cta{
                padding: 5.375rem 6rem;

                .u-media-circle{
                    
                    &:first-of-type{
                        display: block;
                        top: -6.75rem;
                        left: 70%;
                    }
                    &:last-child{
                        bottom: -10rem;
                        left: 50%;
                    }
                }
            }
        }
    }
}



@include media-breakpoint-up(xl) {
    .module--ranking-highlight{
        
        .fullwidth{
            .module--content{
                padding: 6.5rem 3.125rem;
            }
        }
        .constrained{

            .module--content{
                padding: 6.5rem 3.125rem;
                border-radius: .75rem;
            }
        }

        .module{
            
            &--header{
                position: relative;
                
                &::before{
                    display: block;
                    position: absolute;
                    content: ' ';
                    left: 4.125rem;
                    top: 100%;
                    width: 14rem;
                    height: 14rem;
                    border: 2rem solid $color-black-40;
                    background: $color-black url(../images/branding/google_logo.png) no-repeat center center;
                    border-radius: 50%;
                    transform: translateY(-75%);
                    box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.1);

                }
                
                &::after{
                    display: block;
                    position: absolute;
                    content: '';
                    width: 21rem;
                    height: 21rem;
                    border-radius: 50%;
                    background: $color-black url(../images/icons/search-white-large.png) no-repeat center center;
                    left: 100%;
                    transform: translateX(-125%);
                    overflow: visible;
                }
            }
        }
    }
}