.module--page-introduction {
    
    .fullwidth,
    .container-xl{
        width: 95%;
        position: relative;
        background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);
        border-bottom-left-radius: .75rem;
        border-bottom-right-radius: .75rem;

        .btn{
            margin-bottom: 2rem;
            max-width: 300px;
        }

        .module{
            &--introduction{
                
                @extend .col-lg-7;
                padding-left: 0;
                margin-bottom: 1rem;
        
                p{
                    font-family: $font-sans;
                    font-weight: $weight-bold;
                    line-height: 2rem;
                    @include fluid-prop( font-size, 18px, 28px );
                }

                
            }

            &--header{
                margin-top: 2.125rem;
                margin-bottom: 2.125rem;

                .module--heading{
                    font-weight: bold;
                    font-size: 1rem;
                    line-height: 1.6em;
                    padding: 5px 0;
                }
            }
            
            &--content{
                p{
                    font-size: 1rem;
                    line-height: 1.875rem
                }
            }

            &--media{
                position: absolute;
                left: 60%;
                top: 10%;
                
                img{
                    width: 100%;
                    height: 100%;
                }
                &__sm{
                    width: 13.75rem;
                    height: 13.75rem;
                }
                &__lg{
                    width: 25.625rem;
                    height: 25.625rem;
                }
            }
        }

        &.front-page,
        &.archive-page{
            background: transparent;
        }

        &.blog-single{
            padding-bottom: 6rem;
        
            .module{
                &--media{
                    position: absolute;
                    left: 70%;
                    top: 95%;
                }
            }
        }
        &.archive-page{
            margin-bottom: 0;
            position: relative;
            z-index: 200;

            .module{
                

                &--media{
                    background: $color-white;
                    position: absolute;
                    left: 75%;
                    top: -90%;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
   .module--page-introduction {
        .fullwidth,
        .container-xl{
            
             padding: 6.5rem 1rem;
             padding: 2rem 2.75rem;

             &.archive-page{
                padding: 0 2.75rem;
            }
        }
   } 
}


@include media-breakpoint-up(lg) {

    .module--page-introduction {
        .fullwidth,
        .container-xl{
            padding: 4rem 3.75rem;
            
            .module{
                &--header{
                    margin-top: .5rem;
                    margin-bottom: 2.125rem;
                }
                &--introduction{
                    margin-bottom: 6.75rem;
                    min-height: 22.5rem;

                    p{
                        line-height: 2.25rem;
                    }
                }

                &--content{
                    column-count: 3;
                    column-gap: $grid-gutter-width;
                }
            }

            &.front-page{
                padding: 0 1rem;
                
                .module{
                    &--introduction{
                        max-width: 100%;

                        p{
                            line-height: 2.25rem;
                        }
                    }

                    &--content{
                        column-count: 1;
                    }
                }
            }
            &.archive-page{
                padding: 0 1rem;

                .module{
                    &--introduction{
                        margin-bottom: 0;
                        min-height: 10rem;
                    }
                }
            }

        }
    
    }
    .front-page{
        .module--images{
            position: relative;
            height: 30rem;

            figure{
                background: $color-white;
                position: absolute;
                width: 14rem;
                height: 14rem;

                img{
                    object-fit: cover;
                }

                &:first-child(){
                    left: 50%;
                    margin-left: -13rem;
                    top: -13rem;
                    width: 26rem;
                    height: 26rem;
                    z-index: 300;
                    box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.1);
                }
                &:nth-child(2){
                    left: 25%;
                    top: 10rem;
                    z-index: 200;
                }
                &:last-child(){
                    left: 60%;
                    top: 0;
                    transition: transform 2500ms ease-in-out;
                    z-index: 100;
                }
            }
        }
    }
}
@include media-breakpoint-up(xl) {
    .module--page-introduction {
        .fullwidth,
        .container-xl{
            
            .module{
                &--introduction{
                    min-height: 20rem;
                }
            }
        }  
    }  
}