.module--case-study-testimonial{

    .fullwidth{
        padding: 0 1rem;
    }
    .container-xl{
        padding: 0 1rem;
    }

    .module{
        &--banner{
            width: 100%;
            overflow: hidden;

            img{
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
            }
        }
        &--content{
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        &--testimonial{
            display: flex;
            flex-direction: column;
            font-family: $font-sans;
            @include fluid-prop( font-size, 18px, 26px );

            .content{
                order: 1;
                margin-bottom: 2rem;
                position: relative;

                &:before{
                    position: absolute;
                    content: '“';
                    display: block;
                    color: $color-white;
                    width: 8rem;
                    height: 8rem;
                    border: 1.2rem solid $color-tertiary-20;
                    background: $color-tertiary;
                    border-radius: 50%;
                    top: -9rem;
                    left: 0;
                    font-family: $font-serif;
                    font-size: 8rem;
                    line-height: 1.1;
                    text-align: center;
                    font-weight: 900;
                    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
                }

                &:after{
                    content: '”';
                }
            }
            .author,
            .title{
                display: block;
                font-family: $font-sans;
                font-weight: 700;
                font-size: 1rem;
            }
            .author{
                order: 2;
            }
            .title{
                order: 3;
            }

        }
    }
 
}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
    .module--case-study-testimonial{
        .module{
            &--banner{
                width: 100%;
            }

            &--content{
                padding-top: 12rem;
                padding-bottom: 10rem;

                
            }
            &--testimonial{
                .author,
                .title{
                    font-size: 1.4rem;
                }
                .content{
                    &:before{
                        width: 14rem;
                        height: 14rem;
                        border: 2rem solid $color-tertiary-20;
                        top: -16rem;
                        left: -1rem;
                        font-size: 16rem;
                        line-height: .95;
                    }
                }

            }
        }
    }
}
@include media-breakpoint-up(xl) {
      .module--case-study-testimonial{
        .module{
            &--banner,
            &--content{
                border-radius: .75rem;
            }
        }
    }
}