.module--related-case-studies{
    
    .fullwidth{
        padding: 0 1rem;
    }
    .container-xl{
        padding: 0 1rem;
    }

    .module{
        &--heading{
            font-weight: 400;
            @include fluid-prop( font-size, 18px, 22px );
            line-height: 1.1;
            margin-bottom: 1rem;
            color: $color-black-40;
        }

        &--footer{
            padding-top: 0;
            padding-bottom: 0;
            background: transparent;
            color: $color-black-45;
            font-weight: 700;
            letter-spacing: 1.4px;
            padding-top: 2rem;
        }
    }

}
