.module--testimonials {
    
    .fullwidth,
    .container-xl{
        padding-bottom: 5rem;
        border-radius: .75rem;
    }
    .fullwidth{
        width: 95%;
    }
        
    .module{
        
        &--subheading{
            @include fluid-prop( font-size, 42px, 48px );
            width: 100%;
            font-weight: 900;
        }

        &--header{
            margin-top: 4.25rem;
            margin-bottom: 2.125rem;
            
            
            .heading{
                display: block;
                padding-bottom: 1.125rem;

                font-family: $font-sans;
                font-weight: 900;
                width: 75%;
                line-height: 1.05;
                @include fluid-prop( font-size, 50px, 76px );

                sup{
                    display: inline-block;
                    font-weight: 400;
                    transform: translateY(.75rem);
                }
                
            }
            .author,
            .title{
                display: block;
                
                font-family: $font-sans;
                font-weight: 700;
                @include fluid-prop( font-size, 22px, 24px );
            }

        }
        &--content{
            margin-bottom: 2.125rem;
            font-family: $font-sans;
            @include fluid-prop( font-size, 22px, 26px );

            p{
                font-family: $font-sans;
                @include fluid-prop( font-size, 22px, 26px );
            }
        }
        &--carousel{

            overflow: hidden;
            
            .owl-nav {
                display: none;
            }
            
            .carousel--item{
                display: flex;
                flex-direction: column;
                font-family: $font-sans;
                position: relative;
            }
            .testimonial--header{
                order: 2;
                max-width: 47rem;
                font-size: 1rem;
                font-weight: 900;

                .author{
                    display: block;
                }
            }
            .testimonial--content{
                order: 1;
                max-width: 47rem;
                margin: 0 auto 1rem; 
                font-weight: 400;
                @include fluid-prop( font-size, 22px, 26px );
            }
            .testimonial--image{
                display: none;
            }

        }
    }
}



@include media-breakpoint-up(lg) {

    .module--testimonials {
        .fullwidth,
        .container-xl{
            border-radius: .75rem;
        }
        .module{
            &--header{
                margin-bottom: 2.125rem;
            }
            &--subheading{
                width: 50%;
            }
            &--content{
                font-family: $font-sans;
                @include fluid-prop( font-size, 22px, 26px );

                p{
                    font-family: $font-sans;
                    @include fluid-prop( font-size, 22px, 26px );
                }
            }
            &--carousel{

                .owl-nav {
                    top: 10%;
                    width: 100%;
                    position: absolute;
                    display: none;
                    
                    button{
                        position: absolute;
                        width: 6.25rem;
                        height:6.25rem;
                        border-radius: 50%;
                        background: $color-black-40 url(../images/icons/arrow-right-white.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        transition: all 350ms ease-in-out;


                        span{
                            display: none;
                        }
                        &.owl-next{
                            left: 90%;
                            
                        }
                        &.owl-prev{
                            right: 90%;
                            transform: rotate(180deg);
                        }
                        &.disabled{
                            pointer-events: none;
                            opacity: .25;
                        }
                    }
                }
                .owl-stage-outer{
                    padding-bottom: 2.5rem;
                }
                .testimonial--content{
                    margin: 0 0 1rem; 
                }

                // .testimonial--header,
                // .testimonial--content{
                //     max-width: 60rem;
                //     margin: 0 10% 1rem 25%;
                // }
                // .testimonial--image{
                //     display: block;
                //     position: absolute;
                //     top: 50%;
                //     left: 2%;
                //     height: 14.25rem;
                //     width: 14.25rem;
                // }

            }
        }
    }
}
@include media-breakpoint-up(xl) {
    .module--testimonials {
        .module{

            &--carousel{
                .owl-nav {
                    button{
                        &.owl-next{
                            left: 100%;
                            
                        }
                        &.owl-prev{
                            right: 100%;
                        }
                    }

                }

                .testimonial--header,
                .testimonial--content{
                    max-width: 60rem;
                    margin: 0 10% 1rem 25%;
                }

                .testimonial--image{
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 2%;
                    height: 14.25rem;
                    width: 14.25rem;
                }                
            }
        }

    }
}


