.module--blog{
    padding-top: 2rem;

    
    .module{
        &--subheading{
            @include fluid-prop( font-size, 29px, 40px );
            width: 100%;
            font-weight: 900;
        }
        &--content{
            padding-bottom: 1rem;
        }
        &--footer{
            
            .col{
                display: flex;
                justify-content: flex-end;
            }
        }
    }

}
.single-post{
    .module--blog{
        .fullwidth,
        .container-xl{
            border-top: 1px solid $color-black-50;
        }
    }
}
@include media-breakpoint-up(lg) {
    .module--blog{
        .module{
            &--subheading{
                width: 50%;
            }
        }
    }   
}