.module--case-study-portfolio{

    .container-xl{
        padding: 0 1rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .module{
        &--heading{
            font-weight: 900;
            @include fluid-prop( font-size, 28px, 76px );
            line-height: 1.1;
            margin-bottom: 1rem;

            sup{
                font-weight: 400;
            }
        }
        &--subheading{
            font-family: $font-sans;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        &--footer{
            padding-top: 0;
            padding-bottom: 0;
            background: transparent;
            color: $color-black-45;
            font-weight: 700;
            letter-spacing: 1.4px;
            font-family: $font-sans;
        }
    }
    .portfolio-card {
        height: 100%;
        padding-bottom: 30px;
        border: 1px solid $color-black-50;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: .375rem;
        transition: all 350ms ease-in-out;

        &:hover, &:focus{
            border: 1px solid transparent;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        }
    }
}
