.module{

    &__content{
        margin-bottom: 3rem;

        &:last-child(){
            margin-bottom: 0;
        }

        .fullwidth,
        .constrained,
        .container-xl{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-right: 1rem;
            padding-left: 1rem;            
        }
        
        .constrained,
        .container-xl{
            margin-right: auto;
            margin-left: auto;
            //margin-bottom: 5rem;
        }
    }
    &--heading{
        margin-bottom: 2.125rem;
    }
    &__color-black{
        background-color: $color-black;
    }
    &__color-primary{
        background-color: $color-primary;
        
    }
    &__color-secondary{
        background-color: $color-secondary;
    }
    &__color-tertiary{
        background-color: $color-tertiary;
    }


    &--heading {
        font-weight: 900;
        font-size: 1rem;
        line-height: 1.6em;
        padding: 5px 0;
    }



}

@include media-breakpoint-up(lg) {
    .module{
        &__content{
            .fullwidth,
            .constrained,
            .container-xl{
                //max-width: 1340px;
                padding: 4rem 3.75rem;
                border-bottom-left-radius: .75rem;
                border-bottom-right-radius: .75rem;
            }
        }
    }

}
@include media-breakpoint-up(xl) {
    
}