.module--tabbed-services-section{
    background: $color-black;
    overflow: hidden;
    margin-bottom: 0;
    
    .constrained{
        margin-bottom: 0;
    }

    .service__navigation{
        font-family: $font-sans;
        font-weight: 900;
        color: $color-white;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid $color-black-60;

        a{
            display: inline-block;
            color: $color-black-60;
            font-size: .85rem;
            padding: 1rem .5rem;
            text-decoration: none;
            border-bottom: 2px solid transparent;

            &:hover, &:active, &:focus, &.active{
                text-decoration: none;
                color: $color-white;
                border-bottom: 2px solid $color-white;
           }
        }
    }
    .service__content{
        article{
            padding-top: 3rem;
            padding-bottom: 2rem;
            position: relative;
            z-index: 500;
        }
        header{
            font-family: $font-sans;
            color: $color-white;
            
            p{
                font-weight: 700;
                @include fluid-prop( font-size, 24px, 36px );
                line-height: 1.2;
            }
            .service__title{
                font-size: 4.625rem;
            }
        }
        section{
            color: $color-black-60;
        }
        
        .button--pill {
            border-color: #FBBF00;
            color: #FBBF00;
            margin-top: 1rem;

            &:hover, &:active, &:focus{
                border-color: transparent;
            }
        }
        .service__images{
            position: relative;
            width: 30rem;

            // &::after{
            //     content: ' ';
            //     position: absolute;
            //     width: 14rem;
            //     height: 14rem;
                
            //     opacity: 0;
            //     border-color: $color-black-60;
            //     border-style: solid;
            //     border-radius: 50%;
                
            //     z-index: 1;
            //     left: 85%;
            //     top: 15%;
            //     transform: translate(0 , 50%);
            //     @include fluid-prop( border-width, 30px, 30px );
                
            //     transition: all 1500ms ease-in-out;
            // }
            
            // &.animate{
            //     &::after{
            //         opacity: .5;
            //         transform: translate(0 , 0);
            //     }
            // }
            .module--media{
                width: 24rem;
                height: 24rem;
                position: relative;
                z-index: 100;
                background: $color-black;
                object-fit: cover;
                object-position: center;
            }
            .module--icon{
                position: absolute;
                width: 11.25rem;
                height: 11.25rem;
                margin: -11.25rem -11.25rem;
                top: 100%;
                left: 100%;
                display: block;
                z-index: 500;
            }
        }

        .content-right{
            flex-direction: row-reverse;
            
            .service__images{
                
                &::after{
                    top: 15%;
                    left: -30%;
                }

                .module--icon{
                    top: 0;
                    left: 50%;
                    margin-top: -5rem;
                    margin-left: -5.625rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .module--tabbed-services-section{
        .service__navigation{
            a{
                font-size: 1rem;
                padding: 1rem 1.25rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .module--tabbed-services-section{
        .service__navigation{
            padding-left: 1.25rem;
            padding-right: 1.25rem;

            a{
                font-size: 1.375rem;
            }
        }
        .service__content{
            article{
                padding-top: 7rem;
                padding-bottom: 4rem;
            }
            header{
                p{
                    font-size: 2rem;
                }
                .service__title{
                    font-size: 6.25rem;
                }
            }
            .service__images{
                width: 24rem;
                height: 24rem;

                &::after{
                    content: ' ';
                    position: absolute;
                    width: 14rem;
                    height: 14rem;
                    
                    opacity: 0;
                    border-color: $color-black-60;
                    border-style: solid;
                    border-radius: 50%;
                    
                    z-index: 1;
                    left: 85%;
                    top: 15%;
                    transform: translate(0 , 50%);
                    @include fluid-prop( border-width, 30px, 30px );
                    
                    transition: all 1500ms ease-in-out;
                }
                
                &.animate{
                    &::after{
                        opacity: .5;
                        transform: translate(0 , 0);
                    }
                }

                .module--media{
                    width: 24rem;
                    height: 24rem;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .module--tabbed-services-section{
        .service__content{
            header{
                p{
                    font-size: 2.25rem;
                }
                .service__title{
                    font-size: 6.875rem;
                }
            }
            .service__images{
                width: 30rem;
                height: 30rem;

                .module--media{
                    width: 30rem;
                    height: 30rem;
                }
            }
        }
    }
}


    