.module--circle-content-carousel{
    
    &.image--style__fullwidth{
        background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%);
    }

    .fullwidth,
    .container-xl{
        width: 95%;
    }
    
    .fullwidth{
        position: relative;
        border-radius: 0;
    }
    
    .constrained,
    .container-xl{
        position: relative;
        border-radius: 0;
        margin-bottom: 0;
    }
    .module--banner{
        width: 95%;
        max-width: 1340px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5rem;
        transform: translateY(-2rem);
        
        figure{
            overflow: hidden;
            max-height: 430px;
            border-radius: .75rem;
            transform: translateY(6rem);
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    
    .module{
        &--header{
            margin-top: 2.125rem;
            margin-bottom: 2.125rem;
            width: 100%;

            span{
                font-family: $font-sans;
                font-weight: 900;
                line-height: 1.6em;
                padding: 5px 0;
            }
        }
        &--heading{
            @include fluid-prop( font-size, 40px, 82px );
            font-family: $font-sans;
            margin-bottom: 0;
            line-height: 1.2;
        }
        &--introduction{
            @include fluid-prop( font-size, 24px, 36px );
            font-family: $font-sans;
            width: 100%;
            font-weight: 900;
        }
        &--content{
            padding-bottom: 1rem;
        }
        &--footer{
            
            .col{
                display: flex;
                justify-content: flex-end;
            }
        }
        &--content__circle{
            width: 14rem;
            height: 14rem;
            position: relative;
            z-index: 100;
            padding: 0;
            margin: auto;
            list-style: none;
            
            &:after{
                content: '';
                position: absolute;
                border: 2rem solid $color-black-50;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transition: all 350ms ease-in-out;
            }

            span{
                position: absolute;
                z-index: 150;
                padding: 0 2.2rem;
                font-family: $font-sans;
                font-weight: 900;
                font-size: 1.425rem;
                color: $color-primary-20;
                top: 50%;
                transform: translateY(-50%);
                line-height: 1.2;
                text-align: center;
                width: 100%;

                &.image{
                    padding: 0 0; 
                    overflow: hidden;

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &:hover{
                &:after{
                    background: $color-black-50;
                }
                
            }
        }
    }

    .circle-module-carousel{
        // &.owl-carousel {
        //     .owl-stage-outer{
        //         //overflow: visible;
        //     }
        // }
        .owl{
            &-dots{
                text-align: center;
                margin-top: 2rem;
                // margin: .8125rem -20%;
                // width: 140%;
            }
            &-dot{
                margin: 2px;
                
                span{
                    margin: 1.1875rem;
                    height: .625rem;
                    width: .625rem;
                    display: block;
                    background: $color-black-50;
                    border-radius: 50%;
                }

                &.active{
                    span{
                        background: $color-black-30;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-up(sm) {
    .module--circle-content-carousel{   
        .circle-module-carousel{
            &.owl-carousel {
                .owl-stage-outer{
                    overflow: hidden;
                }
            }

            .module--content__circle{
                width: 14rem;
                height: 14rem;
            
                span{
                    font-size: 1rem;
                }

                &:after{
                    border: 2rem solid $color-black-50;
                }
            }
            
            .owl{
                &-dots{
                    text-align: center;
                    margin: .8125rem 0;
                }
                &-dot{
                    margin: 2px;
                
                    span{
                        margin: 1.1875rem;
                        height: .625rem;
                        width: .625rem;
                        display: block;
                        background: $color-black-50;
                        border-radius: 50%;
                    }

                    &.active{
                        span{
                            background: $color-black-30;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-up(md) {
    .module--circle-content-carousel{
        .circle-module-carousel{
            .module--content__circle{
                width: 10rem;
                height: 10rem;
            
                span{
                    font-size: 1.2rem;
                    padding: 0 2.2rem;

                    &.image{
                        padding: 0 0; 
                        overflow: hidden;
                    }
                }

                &:after{
                    border: 1.4rem solid $color-black-50;
                }
            }
        }
        .module--header{
            margin-left: 4%;
        }
        .module--media{
            position: absolute;

            &_0{
                width: 12rem;
                height: 12rem;
                width: 14rem;
                top: 100%;
                transform: translateY(-50%);
            }
            &_1{
                width: 14rem;
                height: 14rem;
                top: -40%;
                left: 60%;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    .module--circle-content-carousel{
        .module--header {
            width: 70%;
            margin-left: 28%;
            margin-top: 0;
            margin-bottom: 4.25rem;
            
            .module--heading {
                margin-bottom: 0;
                line-height: 1.2;
            }
        }
        .circle-module-carousel{
            
            .module--content__circle{
                width: 12rem;
                height: 12rem;
                
                span{
                    font-size: 1.2rem;
                }
                
                &:after{
                    border: 1.6rem solid $color-black-50;
                }
            }
        }
        .module--media{
            &_0{
                width: 14rem;
                height: 14rem;
            }
            &_1{
                width: 17rem;
                height: 17rem;
            }
        }
    }
}
@include media-breakpoint-up(xl) {
    .module--circle-content-carousel{
        .module--header {
            width: 70%;
            margin-left: 24%;

            .module--introduction{
                margin-bottom: 5rem;
            }
        }
        .circle-module-carousel{
            &.owl-carousel {
                .owl-stage-outer{
                    overflow: visible;
                }
                .owl-item{
                    &:nth-child(2n+1){
                        transform: translateY(-25%);
                    }
                }
            }
            
            .module--content__circle{
                width: 14rem;
                height: 14rem;
                
                span{
                    font-size: 1.4rem;
                }
                
                &:after{
                    border: 2rem solid $color-black-50;
                }
            }
        }
    }
}