.module--cta {
    .fullwidth,
    .container-xl {
        margin-bottom: 0;
        padding: 4rem 1rem 4rem;
        border-radius: 0;
    }
    .content-button--circle {
        padding-bottom: 4rem;
    }
    .content-form {
        padding-bottom: 0 !important;
    }
    &:last-child() {
        margin-bottom: 0;
    }
    .cta__media {
        position: absolute;
        top: -2rem;
        left: 4.4rem;
        width: 20rem;
        height: 20rem;
        bottom: 0;
        margin: auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    .cta__content {
        padding-top: 0;
        padding-bottom: 0;
    }
    .cta__heading {
        color: $true-white;
        letter-spacing: 1px;
        line-height: 1em;
        margin-bottom: .25em;
        @include fluid-prop( font-size, 35px, 90px);
    }
    .cta__subheading {
        color: $true-white;
        letter-spacing: 1px;
        margin-bottom: .75em;
        @include fluid-prop( font-size, 22px, 36px);
    }
    .fullwidth,
    .container-xl {
        position: relative;
        &.module__color-black {
            background: $color-black;
            .button--pill {
                border-color: $color-tertiary;
                color: $color-tertiary;
            }
        }
        &.module__color-primary {
            background: $color-primary;
            .button--pill {
                border-color: $color-white;
                color: $color-white;
            }
            .button--circle {
                background: $color-primary;
            }
        }
        &.module__color-secondary {
            background: $color-secondary;
            .button--pill {
                border-color: $color-tertiary;
                color: $color-tertiary;
            }
            .button--circle {
                background: $color-secondary;
            }
        }
        &.module__color-tertiary {
            background: $color-tertiary;
            .cta__heading,
            .cta__subheading {
                color: $color-black;
            }
            .button--pill {
                border-color: $color-secondary;
                color: $color-secondary;
            }
            .button--circle {
                background: $color-tertiary;
            }
        }
    }
    .container-xl {
        max-width: 1340px;
        margin-right: auto;
        margin-left: auto;
    }
    form {
        .gform_fields {
            flex-direction: column;
            .gfield {
                position: relative;
                margin-top: 1rem;
                &.gfield_hidden {
                    margin-bottom: 0;
                }
                label {
                    text-transform: none;
                    top: 1rem;
                    left: 1rem;
                    transition: all 350ms ease-in-out;
                    &.active {
                        top: -2rem;
                        color: $true-white;
                    }
                }
                input[type=text],
                input[type=tel],
                input[type=email] {
                    font-size: 1.375rem;
                    padding: .5rem;
                    line-height: 2rem;
                }
            }
        }
        .gform_button {
            border-color: $true-white;
            color: $true-white;
            background: transparent;
            margin-left: 0;
        }
        .gform_footer {
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .module--cta {
        .fullwidth,
        .container-xl {
            .cta__media {
                width: 26rem;
                height: 26rem;
            }
            .content-right {
                flex-direction: row-reverse;
                .cta__media {
                    right: 6rem;
                    left: 0;
                }
            }
        }
        .container-xl {
            width: 95%;
            border-radius: .75rem;
            padding: 4rem 3.75rem;
        }
    }
    .content-button--circle {
        .cta__subheading {
            max-width: 80%;
        }
    }

}

@include media-breakpoint-up(xl) {
    .module--cta {
        .container-xl {
            .cta__media {
                width: 34rem;
                height: 34rem;
            }
            .content-button--circle {
                .cta__media {
                    width: 30rem;
                    height: 30rem;
                }
            }
        }
        .fullwidth {
            .cta__media {
                width: 30rem;
                height: 30rem;
            }
            .content-button--circle {
                .cta__media {
                    // top: -8rem;
                    width: 30rem;
                    height: 30rem;
                }
            }
        }
    }
}