.page-template-page-contact{
    h2{
        @include fluid-prop( font-size, 24px, 40px );
    }
}
.sidebar{
    position: relative;
    top: -9rem;

    .contact--block_map{

        display: block;

        figure{
            position: relative;
            width: 19rem;
            height: 19rem;
            bottom: 0;
            margin: auto;
            margin-bottom: 2rem;
            
        }
        
        &::after{
            content: '';
            position: absolute;
            top: 70%;
            left: 70%;
            width: 5rem;
            height: 5rem;
            background-color: $color-secondary-40;
            background-image: url(../images/icons/arrow-right-white.png);
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50%;
            transition: left 1000ms ease-in-out;
            box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.25);
        }

        &:hover{
            &::after{
                left: 80%;
            }
        }
        
    }
    .contact{
        
        &--block_aside{
            font-family: $font-sans;
            margin-bottom: 1rem;

            .address{
                margin-top: 1rem;
                font-size: 1.125rem;
                font-weight: 900;
                
                a{
                    color: $color-black;
                        &:hover{
                            color: $color-black-60;
                            text-decoration: none;
                        }
                }
            }
        }
        
        &_phone,
        &_email{
            display: block;
            color: $color-black;
            font-size: 1.625rem;
            line-height: 1.2;
            font-weight: 900;
            transition: all 300ms ease-in-out;


            &:hover{
                color: $color-black-60;
                text-decoration: none;
            }
        }

    }
}

@include media-breakpoint-up(md) {
    .sidebar{
        .contact{

            &_phone,
            &_email{
                font-size: 2.25rem;
            }

        }
    }
}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {
    .sidebar{
        top: -18rem;

        .contact--block_map{

            display: block;

            figure{
                width: 23rem;
                height: 23rem;
                // width: 26rem;
                // height: 26rem;
            }
        }
        .contact{

            &_phone,
            &_email{
                font-size: 2rem;
            }

        }
    }
}