body,
html {
	font-family: $font-serif;
    //@include fluid-prop( font-size, 16px, 20px );
    font-family: 16px;
}

h1,
.h1 {
    font-family: $font-sans;
    font-weight: $weight-x-bold;
    @include fluid-prop( font-size, 24px, 66px );
   
}

h2,
.h2 {
    font-family: $font-sans;
    font-weight: $weight-bold;
    line-height: 1.2;
    //@include fluid-prop( font-size, 36px, 60px );
    @include fluid-prop( font-size, 20px, 32px );
}

h3, .h3{
	font-family: $font-sans;
	font-weight: $weight-bold;
	@include fluid-prop( font-size, 30px, 34px );
}

h4, .h4{
	font-family: $font-sans;
	font-weight: $weight-bold;
	@include fluid-prop( font-size, 26px, 30px );
}

h5, .h5{
	font-family: $font-sans;
	font-weight: $weight-bold;
	@include fluid-prop( font-size, 22px, 28px );
}

h6, .h6{
	font-family: $font-sans;
	font-weight: $weight-bold;
	@include fluid-prop( font-size, 18px, 26px );
}	

p{
	@include fluid-prop( font-size, 16px, 20px );
}
