.u-dropshadow{
    &--1{
        box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.1);
    }
}

.u-media-circle{
    border-radius: 50%;
    overflow: hidden;
}
.u-card-outlined{
    border: 1px solid $color-black-50;
    transition: all 1000ms ease-in-out;  

    &:hover{
        border: 1px solid transparent; 
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }
}
.u-debug{
    border: 1px solid green;
}
.u-debug-container{
    border: 1px solid blue;
}

.u-columned{
    column-gap: $grid-gutter-width;

    &__2,
    &__3{
        column-count: 1;
    }
    @include media-breakpoint-up(lg) {
        &__2{
            column-count: 2;
        }
        &__3{
            column-count: 3;
        }
        &__4{
            column-count: 4;
        }
    }
    
}

// Animations
.u-animate{
    
    &__fade-up{
        transform: translateY(5rem);
        opacity: 0;
        transition: transform 1500ms ease-in-out, 
                    opacity 1500ms ease-in-out;

        &.animate{
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    &__border-top {
        position: relative;

        &::before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            border-top: 2px solid $color-black-40;
            width: 0px;
            max-width: 6.25rem;
            transition: width 1500ms ease-in-out;
            transform-origin: 50% 50%;
        }
        
        &.animate{
            &::before{
                width: 6.25rem;
            }
        }
    }
    
    &__border-bottom {
        position: relative;

        &::before{
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            border-bottom: 2px solid $color-black-40;
            width: 0px;
            max-width: 6.25rem;
            transition: width 1500ms ease-in-out;
            transform-origin: 50% 50%;
        }
        
        &.animate{
            &::before{
                width: 6.25rem;
            }
        }
    }
}
.u-nowrap {
    white-space: nowrap;
}


// .u-animate-media{
//     transform: translateY(5em);
//     opacity: 0;
//     transition: transform 4s 5s cubic-bezier(0,1,.3,1), filter 10s 2s ease-out;
//     will-change: transform;

//     &.u-animate-fade{
//         transform: none;
//         opacity: 1;
//     }
// }

// .u-animate-fade-up{
//     transform: translateY(3rem);
//     opacity: 0;
    
//     &.animate{
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

// .u-animated-border{
//     position: relative;
    
//     &::before{
//         position: absolute;
//         content: '';
//         top: 0;
//         left: 0;
//         border-top: 2px solid $color-black-40;
//         width: 0px;
//         max-width: 6.25rem;
//         transition: width 1500ms ease-in-out;
//         transform-origin: 50% 50%;
//     }
    

//     &.animate{
//         &::before{
//             width: 6.25rem;
//         }
//     }
// }
// .u-animate-text{
//     transform: translateY(5em);
//     opacity: 0;
//     transition: transform 4s 5s cubic-bezier(0,1,.3,1),
//     filter 10s 2s ease-out;
//     will-change: transform;

//     &.u-animate-fade{
//         transform: none;
//         opacity: 1;
//     }
// }