@import "fonts";

//// FONTS /////////////////
$font-sans: 				Lato, Helvetica Neue, Helvetica, Arial, sans serif;
$font-serif: 				'Noto Serif', Times New Roman, Times, serif;
$font-serif-spec: 			'Noto Serif TC', Times New Roman, Times, serif;
$font-heading: 				$font-sans;
$font-body: 				$font-serif;
$font-body-alt: 			$font-serif-spec;

//// FONT WEIGHT /////////////////
$weight-thin:               300;
$weight-reg:			    400;						
$weight-bold: 				700;
$weight-x-bold: 			900;

//// COLORS ////////////////
$true-black: 				#000;
$true-white: 				#fff;
$color-white: 				$true-white;


//// COLORS Black ////////////////
$color-black: 				#191919;
$color-black-20: 			#1f1f1f;
$color-black-30: 			#272727;
$color-black-40:            #262626;
$color-black-45:            #9e9e9e;
$color-black-50:            #eaeaea;
$color-black-55:            #CBCBCB;
$color-black-60: 			#8a8a8a;
$color-black-70: 			#828282;
$color-black-80: 			#313131;
$color-black-95: 			#f9f9f9;

$color-black-2: 			#1f1f1f;
$color-black-3: 			#272727;

//// COLORS Primary ////////////////
$color-primary: 			#AB1334;
$color-primary-20: 			#F60E40;
$color-primary-40: 			#ED4029;
// $color-primary-60: 			#99c2a7;
// $color-primary-80: 			#cce0d3;
$color-primary-95: 			#6e1a27;

//// COLORS Secondary ////////////////
$color-secondary:           #2A57CB;
$color-secondary-20: 		#2779FE;
$color-secondary-40: 		#4286F5;
// $color-secondary-60: 		#f1dfb6;
// $color-secondary-80: 		#f8efda;
// $color-secondary-95: 	    #fdfaf5;


//// COLORS Tertiary ////////////////
$color-tertiary:            #FBBF00;
$color-tertiary-20: 		#F4B402;
$color-tertiary-40: 		#33A953;
$color-tertiary-50: 		#25AB4B;
// $color-tertiary-60: 		#f1dfb6;
// $color-tertiary-80: 		#f8efda;
// $color-tertiary-95: 	    #fdfaf5;




$colors: (
    transparent: transparent,
    // color-white: $color-white,
    // color-black: $color-black,
    // color-black-20: $color-black-20,
    // color-black-40: $color-black-40,
    // color-black-60: $color-black-60,
    // color-black-80: $color-black-80,
    // color-black-95: $color-black-95,
    // color-primary: $color-primary,
    // color-primary-20: $color-primary-20,
    // color-primary-40: $color-primary-40,
    // color-primary-60: $color-primary-60,
    // color-primary-80: $color-primary-80,
    // color-primary-95: $color-primary-95,
    // color-secondary: $color-secondary,
    // color-secondary-20: $color-secondary-20,
    // color-secondary-40: $color-secondary-40,
    // color-secondary-60: $color-secondary-60,
    // color-secondary-80: $color-secondary-80,
    // color-secondary-95: $color-secondary-95,
    // color-tertiary: $color-tertiary,
    // color-tertiary-20: $color-tertiary-20,
    // color-tertiary-40: $color-tertiary-40,
    // color-tertiary-60: $color-tertiary-60,
    // color-tertiary-80: $color-tertiary-80,
    // color-tertiary-95: $color-tertiary-95,
);

$background-colors: (
    color-black: $color-black,
    color-primary: $color-primary,
    color-secondary: $color-secondary,
    color-tertiary: $color-tertiary,
);

$button-colors: (
    transparent: transparent,
    color-white: $color-white,
    color-black: $color-black,
    color-primary: $color-primary,
    color-secondary: $color-secondary,
);

.backround{
    @each $name, $hex in $background-colors {
        &--#{$name} {
            background: $hex;
        }
    }
}